body {
    background-color: #191919;
    color: #dee9eb;
}

.root {
    margin-top: 15vh;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

/** defaults */
.sdt-calendar-colors {
    --sdt-primary: #286090;
    --sdt-color: #000;
    --sdt-bg-main: #fff;
    --sdt-bg-today: var(--sdt-primary);
    --sdt-bg-clear: #dc3545;
    --sdt-today-bg: #1e486d;
    --sdt-clear-color: #dc3545;
    --sdt-btn-bg-hover: #eee;
    --sdt-btn-header-bg-hover: #dfdfdf;
    --sdt-clock-bg: #eeeded;
    --sdt-clock-bg-minute: rgb(238, 237, 237, 0.25);
    --sdt-clock-bg-shadow: 0 0 128px 2px #ddd inset;
    --sdt-shadow: #ccc;
    --sdt-disabled-date: #b22222;
  }
/* Dark theme for the above colours */
.sdt-dark-colors {
    --sdt-primary: #3b8cd3;
    --sdt-color: #eee;
    --sdt-color-selected: #eee;
    --sdt-bg-main: #0000;
    --sdt-bg-today: var(--sdt-primary);
    --sdt-bg-clear: #dc3545;
    --sdt-today-bg: rgb(57, 98, 160);
    --sdt-today-color: var(--sdt-color-selected);
    --sdt-clear-color: #c33b3b;
    --sdt-btn-bg-hover: rgb(8, 156, 255);
    --sdt-btn-header-bg-hover: rgb(23, 168, 213);
    --sdt-clock-bg: #181515;
    --sdt-clock-bg-minute: rgba(178, 178, 178, 0.25);
    --sdt-clock-bg-shadow: 0 0 128px 2px #ddd inset;
    --sdt-shadow: #0000;
    --sdt-disabled-date: #b22222;
  }
  
  .sdt-dark-colors-calendar {
    --sdt-primary: #3b8cd3;
    --sdt-color: #eee;
    --sdt-color-selected: #eee;
    --sdt-bg-main: #000;
    --sdt-bg-today: var(--sdt-primary);
    --sdt-bg-clear: #dc3545;
    --sdt-today-bg: rgb(57, 98, 160);
    --sdt-today-color: var(--sdt-color-selected);
    --sdt-clear-color: #c33b3b;
    --sdt-clear-hover-color: #000;
    --sdt-btn-bg-hover: rgb(8, 156, 255);
    --sdt-btn-header-bg-hover: rgb(23, 168, 213);
    --sdt-clock-bg: #181515;
    --sdt-clock-bg-minute: rgba(178, 178, 178, 0.25);
    --sdt-clock-bg-shadow: 0 0 128px 2px #ddd inset;
    --sdt-shadow: #0000;
    --sdt-disabled-date: #b22222;
  }

 .sdt-tick {
    color: white;
  }

  .sdt-clock {
    border: 2px dashed #5a5a5a  
  }
.flex {
    display: flex;
}

.roboto {
    font-family: 'Roboto', sans-serif
}

.size-xlarge {
    font-size: 10vh;
    font-weight: 400;
}

.size-large {
    font-size: 4vh;
}

.font-thin {
    font-weight: 100;
}

.size-medium {
    font-size: 3vh;
}

.size-normal {
    font-size: 1.5vh;
    font-weight: 400;
}

.shadow {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-self: center;
}

.m-5 {
    margin: 0.75em;
}

.mt-10 {
    margin-top: 1.5em;
}

.mr-5 {
    margin-right: 0.75em;
}

.color-grey {
    color: #adadad;
}

.input-class {
    width: 280px;
    height: 100%;
    text-align: center;
    border: none;
    background-color: #0f0f0fb8;
    color: #dee9eb;
    border: 1px solid #43494999;
}

.time-input-class {
    font-size: 3vh;
    font-weight: 400;
}

.date-input-class {
    font-size: 2vh;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 3px;
}

.timezone-input-class {
    width: 300px;
    --listBackground: #0f0f0fb8;
    --itemColor: #dee9eb;
    --inputColor: #dee9eb;
}

.mb-10 {
    margin-bottom: 1em;
}

.mt-5 {
    margin-top: 0.75em;
}

.copy-link-btn {
    /* the button needs a classy look */
    background-color: #3b8cd3;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.5vh;
    font-weight: 400;
    cursor: pointer;
    /* and some hover effects wouldn't hurt */
    transition: 0.2s;
}
